.venv/
.vscode/

/data/predictors_abies.txt
/data/predictors_not_abies.txt
/data/cmip_projections/

/map_current/data.csv
/map_current/abies_range_interactive_map.html

/scripts/old/
/scripts/__pycache__/
